body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6347;
}

.logo img {
  width: 30px;
  height: 30px;
}

.hero {
  position: relative;
  text-align: center;
  padding: 50px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main_piano {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cours_test_gratuit,
#Qui_sommes_nous,
#contact {
  padding: 50px;
  text-align: center;
}

.full-width-video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff6347;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

form button {
  padding: 10px 20px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #e5533d;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero {
    padding: 20px;
  }

  .main_piano {
    width: 100%;
  }

  #cours_test_gratuit,
  #Qui_sommes_nous,
  #contact {
    padding: 20px;
  }

  form input,
  form textarea {
    max-width: 100%;
  }
}
